<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DBConn" connectionString="Data Source=CAROL-SL-CHANG\SQLEXPRESS;Initial Catalog=GSSWEB;Integrated Security=False;User ID=carol;Password=sss@0905632902;Connect Timeout=15;TrustServerCertificate=False"/>
	</connectionStrings>

</configuration>